@page "/generate-course"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject Services.LoadingService Loader
@inject Services.StudentService StudentService

<h3>Generate Your Custom Course Plan</h3>

@code {

}
