@page "/"
@using OpenEdAI.Client.Models
@using OpenEdAI.Client.Components
@inject Services.CourseService CourseService

<h2>Your Enrolled Courses</h2>

@if (CourseService == null)
{
	<p>Loading...</p>
}
@if (courses == null){
	<p>Loading...</p>
}
else if (!courses.Any())
{
	<p>You are not enrolled in any courses.</p>
}
else
{
	<div class="course-list">
		@foreach (var course in courses)
		{
			<CourseCard Course="course" />
		}
	</div>
}

@code {
	private List<CourseDTO> courses;

	protected override async Task OnInitializedAsync()
	{
		courses = await CourseService.GetEnrolledCoursesAsync();
	}
}
