@using Microsoft.AspNetCore.Components.Authorization
@using OpenEdAI.Client.Shared
@using OpenEdAI.Client.Services
@implements IDisposable
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject OpenEdAI.Client.Models.AuthConfig Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NotificationService Notification
@inject LogoutService LogoutService

<!-- Navbar -->
<nav class="navbar">
	<div class="nav-left">
		<a href="/dashboard">Dashboard</a>
	</div>
	<div class="nav-right">
		@if (isAuthenticated)
		{
			<a href="#" @onclick="Logout">Logout</a>
		}
		else if (onLandingPage)
		{
			<a href="#" @onclick="Login">Sign In / Sign Up</a>
		}

	</div>
</nav>

<!-- Loading Spinner -->
<GlobalLoading />

@Body

@if(!string.IsNullOrEmpty(message)){
	<div class="notification-overlay">
		<div class="notification-popup">
			<p>@message</p>
		</div>
	</div>
}


@code {
	private bool isAuthenticated = false;
	private bool onLandingPage = false;
	private string? message;
	private bool isLoggingOut = false;
	private AuthenticationStateChangedHandler? authHandler;


	protected override async Task OnInitializedAsync()
	{
		await SetAuthAndRouteState();

		authHandler = async (_) =>
		{
			await SetAuthAndRouteState();
			StateHasChanged();
		};

		AuthStateProvider.AuthenticationStateChanged += authHandler;

	}

	public void Dispose()
	{
		Notification.OnNotify -= ShowMessage;

		if (authHandler is not null)
			AuthStateProvider.AuthenticationStateChanged -= authHandler;
	}

	protected override void OnInitialized()
	{
		Notification.OnNotify += ShowMessage;
	}

	private void ShowMessage(string msg)
	{
		message = msg;
		StateHasChanged();

		// Auto-hide after 5 seconds
		_ = Task.Delay(5000).ContinueWith(_ =>
		{
			message = null;
			InvokeAsync(StateHasChanged);
		});
	}

	private async Task SetAuthAndRouteState()
	{
		var authState = await AuthStateProvider.GetAuthenticationStateAsync();
		// Check if the user is authenticated
		isAuthenticated = authState.User.Identity.IsAuthenticated;


		// Check if the user is on the landing page
		var uri = Navigation.ToBaseRelativePath(Navigation.Uri);
		onLandingPage = string.IsNullOrWhiteSpace(uri);
	}

	private async Task Logout()
	{
		LogoutService.StartLogout();
		Console.WriteLine("Logging out: Clearing stored tokens.");
		// Clear the tokens from localStorage
		await JS.InvokeVoidAsync("localStorage.removeItem", "access_token");
		await JS.InvokeVoidAsync("localStorage.removeItem", "refresh_token");

		// Redirect to the Cognito logout URL
		Console.WriteLine("Redirecting to Cognito logout...");
		Navigation.NavigateTo(Auth.CognitoLogoutUrl, forceLoad: true);
	}

	private void Login()
	{
		Navigation.NavigateTo(Auth.CognitoLoginUrl, forceLoad: true);
	}
}