@using OpenEdAI.Client.Models
@using System.ComponentModel.DataAnnotations

<EditForm Model="@model" OnValidSubmit="Submit" class="course-input-form">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label>Topic:</label>
	<InputText @bind-Value="model.Topic" class="form-control" />

	<label>Experience Level:</label>
	<InputSelect @bind-Value="model.ExperienceLevel" class="form-control">
		<option value="">Select</option>
		<option value="Beginner">Beginner</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advanced">Advanced</option>"
	</InputSelect>

	<label>Additional Context:</label>
	<InputTextArea @bind-Value="model.AdditionalContext" class="form-control" placeholder="(Optional) Additional information to help generate the best plan."/>

	<button type="submit" class="btn btn-primary">Generate Course</button>

</EditForm>

@code {
	private CoursePersonalizationInput model = new();
	[Parameter] public EventCallback<CoursePersonalizationInput> OnGenerate { get; set; }

	private async Task Submit()
	{
		if (OnGenerate.HasDelegate)
		{
			await OnGenerate.InvokeAsync(model);
		}
	}
}
